doctype html
html
  head
    block head
      title Space ICO Dashboard
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='description' content="Turn-key technical solution for ICO crowdsales")
      meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
        
      meta(property="og:title" content="Space ICO Dashboard")
      meta(property="og:type" content="article")
      meta(property="og:url" content="https://moonwallet.tech")
      meta(property="og:image" content="https://s3.amazonaws.com/secrettech/ico-dashboard-assets/facebook.png")
      meta(property="og:description" content="Turn-key technical solution for ICO crowdsales")
      meta(property="og:site_name" content="Space ICO Dashboard")
        
      meta(name="twitter:card" content="summary_large_image")
      meta(name="twitter:site" content="")
      meta(name="twitter:title" content="Space ICO Dashboard")
      meta(name="twitter:description" content="Turn-key technical solution for ICO crowdsales")
      meta(name="twitter:creator" content="")
      meta(name="twitter:image" content="https://s3.amazonaws.com/secrettech/ico-dashboard-assets/twitter.png")
      meta(name="twitter:image:alt" content="Space ICO Dashboard")
        
      meta(itemprop="name" content="Space ICO Dashboard")
      meta(itemprop="description" content="Turn-key technical solution for ICO crowdsales")
      meta(itemprop="image" content="https://s3.amazonaws.com/secrettech/ico-dashboard-assets/facebook.png")
      
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:300|Roboto:300,900")
      link(rel="stylesheet" href="./css/styles.css")

  body
    block body

    script.
      (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter48543518 = new Ya.Metrika2({ id:48543518, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2");
      
    script.
      _linkedin_data_partner_id = "298156";
      
    script.
      (function(){var s = document.getElementsByTagName("script")[0];
      var b = document.createElement("script");
      b.type = "text/javascript";b.async = true;
      b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
      s.parentNode.insertBefore(b, s);})();
    
    noscript
      <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=298156&fmt=gif" />
      
    script(type='text/javascript' src='./js/app.js')
    script(async defer src="https://buttons.github.io/buttons.js")
