@import "./vendor/normalize.css";

/* global */

* {
  font-family: Roboto;
  color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #48AFF0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html, body {
  background-color: #111;
  position: relative;
  scroll-behavior: smooth;
}

.js-smooth {
  scroll-behavior: smooth;
}

/* backgrounds */

.background {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: 50%;
  min-height: 1000px;
  height: 100%;
  max-height: 1000px;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.background--gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(17,17,17,0) 0%, rgba(17,17,17,1) 100%);
  background: -webkit-linear-gradient(top, rgba(17,17,17,0) 0%,rgba(17,17,17,1) 100%);
  background: linear-gradient(to bottom, rgba(17,17,17,0) 0%,rgba(17,17,17,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00111111', endColorstr='#111111',GradientType=0 );
}

.background-bottom {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: 50%;
  min-height: 600px;
  height: 100%;
  max-height: 600px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  bottom: 0;
}

.background-bottom--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.5);
}

.background-bottom--gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(17,17,17,0) 100%);
  background: -webkit-linear-gradient(top, rgba(17,17,17,1) 0%,rgba(17,17,17,0) 100%);
  background: linear-gradient(to bottom, rgba(17,17,17,1) 0%,rgba(17,17,17,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#00111111',GradientType=0 );
}

@media only screen and (max-width: 600px) {
  .background {
    min-height: 100vh;
    max-height: 100vh;
  }
}

/* container */

.container {
  box-sizing: border-box;
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 980px) {
  .container {
    width: calc(100% - 80px);
    margin: 0 auto;
  }
}

/* topbar */

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.topbar--logo > a {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.topbar--links {
  display: flex;
}

.topbar--links > a {
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: end;
  padding: 9px 20px 10px;
  border-radius: 2px;
}

.topbar--links > a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.topbar--links > a > img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.topbar--links > a > span {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .topbar--logo > a {
    font-size: 14px;
  }
}

/* landing */

.landing {
  padding: 150px 0 150px;
}

.landing--name {
  max-width: 750px;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.25;
}

.landing--description {
  max-width: 700px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 40px;
}

.landing--buttons {
  margin-top: 40px;
}

.landing--buttons > a {
  font-size: 18px;
  color: #f5f5f5;
  padding: 12px 40px;
  border-radius: 3px;
  cursor: pointer;
}

.landing--buttons--primary {
  background-color: #48AFF0;
  transition: 0.1s linear all;
}

.landing--buttons--primary:hover {
  text-decoration: none;
  background-color: #2b95d6;
}

.landing--buttons--secondary {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .landing {
    padding: 50px 0 150px;
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .landing--name {
    font-size: 24px;
  }

  .landing--description {
    font-size: 16px;
  }

  .landing--buttons > a {
    font-size: 14px;
    padding: 8px 20px;
  }
}

/* carousel */

.carousel {
  margin: 0 -40px;
}

@media only screen and (max-width: 1060px) {
  .carousel {
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .carousel--control,
  .carousel {
    display: none;
  }
}

.carousel--screen {
  padding: 0 40px;
}

.carousel--screen > img {
  width: 100%;
  border-radius: 6px;
}

.carousel--control--prev,
.carousel--control--next {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0 5px;
  margin: 0;
  position: absolute;
  top: 50%;
  margin-top: -12px;
}

.carousel--control--prev > img,
.carousel--control--next > img {
  width: 24px;
}

.carousel--control--prev {
  left: -20px;
}

.carousel--control--next {
  right: -20px;
}

/* features */

.features {
  margin: 150px 0;
}

.features--title {
  font-weight: 900;
  font-size: 48px;
  margin: 0 0 40px 0;
}

.features--body {
  margin: 0 -20px;
}

.feature {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin: 40px 20px;
}

.feature--title {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 15px;
}

.feature--text {
  font-size: 18px;
  line-height: 30px;
}

@media only screen and (max-width: 600px) {
  .features {
    margin: 50px 0;
  }

  .features--title {
    font-size: 24px;
    margin: 0 0 10px;
  }

  .feature {
    width: calc(100% - 40px);
    margin: 20px;
  }

  .feature--title {
    font-size: 18px;
  }

  .feature--text {
    font-size: 16px;
  }
}

/* about */

.about {
  margin: 150px 0;
}

.about--title {
  font-weight: 900;
  font-size: 48px;
  margin: 0 0 80px 0;
}

.about--text {
  font-size: 24px;
  line-height: 1.5;
  max-width: 800px;
}

@media only screen and (max-width: 600px) {
  .about {
    margin: 50px 0;
  }

  .about--title {
    font-size: 24px;
    margin: 0 0 30px 0;
  }

  .about--text {
    font-size: 18px;
  }
}

/* benefits */

.benefits {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.benefit {
  width: 300px;
  text-align: center;
}

.benefit--title {
  font-weight: 900;
  font-size: 36px;
  margin: 40px 0 20px;
}

.benefit--text {
  font-size: 20px;
  line-height: 1.5;
}

@media only screen and (max-width: 768px) {
  .benefit--icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }

  .benefit--icon > img {
    width: 100%;
  }

  .benefit--title {
    font-size: 24px;
    margin: 20px 0;
  }

  .benefit--text {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .benefits {
    display: block;
  }

  .benefit {
    width: 100%;
    margin: 40px 0;
  }
}

/* contacts */

.contacts {
  margin: 150px 0;
}

.contacts--title {
  font-weight: 900;
  font-size: 48px;
  margin: 0 0 80px 0;
  text-align: center;
}

.contacts--body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.contact {
  text-align: center;
}

.contact--label {
  font-size: 18px;
  margin-bottom: 15px;
}

.contact--url {
  font-size: 24px;
  font-weight: 900;
}

@media only screen and (max-width: 600px) {
  .contacts--title {
    font-size: 24px;
    line-height: 1.5;
  }

  .contacts--body {
    display: block;
    margin: -40px 0;
  }

  .contact {
    margin: 40px 0;
  }
}

/* to top */

.toTop {
  text-align: center;
  padding: 0 0 50px;
}

.toTop--button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  position: relative;
  width: 150px;
}

.toTop--arrow {
  width: 30px;
}

.toTop--text {
  font-size: 12px;
  position: absolute;
  width: 100%;
  bottom: 10px;
  opacity: 0;
  transition: 0.1s linear all;
}

.toTop--button:hover .toTop--text {
  opacity: 1;
  bottom: -10px;
}

/* footer */

.footer {
  padding: 20px 0 35px;
  text-align: center;
  font-family: 'Roboto Mono';
  font-size: 14px;
  color: #fff;
  border-top: 1px solid #848484;
  display: block;
}

.footer:hover {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .footer {
    text-align: left;
    line-height: 1.5;
  }
}
